* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}
.main {
  width: 100%;
  padding: 0 4rem;
  font-family: Gilroy;
  position: relative;
}
